/* General Styles */
* {
    box-sizing: border-box;
}

.centeredFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation Bar */
#navigation_bar {
    height: 100%;
    display: flexbox;
    justify-self: center;
}

/* Search Box Styles */
#search_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

#search_box label {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Link Styles */
a {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    background-color: rgba(218, 216, 216, 0.801);
    border-radius: 10%;
}

/* Input Styles */
input {
    padding: 5px;
    width: 8em;
}

/* Layout Sections */
#left, #center, #right {
    height: 100%;
}

#left {
    width: 20%;
}

#center {
    width: 60%;
}

#right {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.container {
    height: 90vh;
    width: 80vw;
    border: 2px solid black;
}

.border {
    border: dotted 2px black;
}

.header {
    display: inline-block;
    justify-content: center; 
    position: relative;
    height: 10vh;
    width: 100%;
    border-bottom: dotted 3px red;
}

.links {
    height: 10vh;
    width: 100%;
    border-top: dotted 3px blue;
}

.body {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

body {
    height: 100vh;
    width: 100vw;
}

/* Wrapping Images with Text */
.float-left {
    float: left;
    /* margin: 0 15px 15px 0; */
    width: 150px; /* Adjust width as needed */
    height: auto;
}

.float-right {
    display: flex;
    float: right; /* Float the image to the right */
    margin-left: 15px; /* Optional: Adjust the space between the images */
    width: 150px; /* Make sure the width is consistent with the first image */
    height: auto;
}

/* Horizontal Menu Styles for Left Sidebar */
.horizontal-menu {
    width: 100%; /* Full width of the left sidebar */
    margin-top: 20px; /* Optional: Adds space at the top */
    
}


.horizontal-menu ul li a:hover {
    background-color: #ddd; /* Light color when hovering */
    color: black; /* Text color on hover */
}

.horizontal-menu ul li a:active {
    background-color: #dbdbdb; /* Slightly darker background when clicked */
}
